/* Place your CSS styles in this file */
.body{
  background-color: black;
}

.navbar{
    background-color: black;
}
.navbar-brand{
    font-size:24px;
    font-weight: 500;
    color:green;

}
.login-button{
    background-color:#20CD82; 
    color:white;
    font-size:14px;
    padding:8px 20px;
    border:none;
    border-radius:50px;
    text-decoration:none;
    transition:0.3s;
}

.login-button:hover{
    background-color:transparent; 
     color:#20CD82;
     border:1px solid #20CD82;
     box-shadow:1px 1px 10px #20CD82;
}

.navbar-toggler{
    border:none;
    font-size:1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    outline:none;
    box-shadow:none;
}

.nav-item {
    color:white;
    font-weight:500;
    position:relative;
}



@media (min-width: 991px){
.nav-item::before{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:0;
    height:2px;
    background-color:rgb(28, 187, 28);
    visibility:hidden;
    transition: 0.3s ease-in-out;
}

.nav-item:hover::before, .nav-item.active::before{
    width:80%;
    visibility:visible;
}
}

/* section1 css */
.heading_container{
  background-color:black;	
  z-index:-1;
  
}
.heading_container .nav-item a {
    color:white;
}

@media (max-width: 600px){
.heading_container{
    flex-wrap: wrap;
 }
}

/* heading text animation */
.heading{
 display:inline-block;
}

.text_container h1{
  font-size:48px;
} 

@media (max-width: 600px){
.heading_container{
    flex-wrap: wrap;
    width:100%;
 }
.text_container h1{
  font-size:20px;
} 

.text_container h1 span{
  font-size:30px;
} 


}

.heading span{
  position:relative;
  display:inline-block;
  color:transparent;
  -webkit-text-stroke: 1px #20CD82;
  animation:display-text 8s linear infinite;
  animation-delay: calc(-2s * var(--i));
}

@keyframes display-text{
   25%, 100%{
      display:none;
   }
}

.heading span::before{
  content:attr(data-text);
  position:absolute;
  width:0;
  border-right:2px solid black;
  color:#20CD82;
  white-space:nowrap;
  overflow:hidden;
  animation:fill-text 2s linear infinite;
}

@keyframes fill-text{
  10%, 100%{
     width:0;
  }
    70%, 90%{
     width:100%;
  }
}



.cvButton{
  color:white;
  padding:7px 14px;
  border:1px solid #20CD82;
  border-radius:50px;
  content-align:center;
  margin-top:0;
  background-color: #20CD82;
  box-shadow:1px 2px 8px #20CD82; 
}

.cvButton:hover{
  opacity:0.8;
  transition:0.2s;
  color:white;
  background-color: transparent; 
}


.social_links{
 font-size:25px;
 color:#20CD82;
 margin-left:10px;
 border:1px solid #20CD82;
 border-radius:50px;
 padding:3px 10px;
 transition:0.2s;
}


.social_links:hover{
  background-color:#20CD82;
  color:white;
}

@media (max-width: 600px){
    .cvButton{
         padding:5px 7.5px;
        font-size:12px;
    }

    .social_links{
        padding:1px 5px;
        font-size:12px;
    }
}

/* profice pic */
.home-img-active .img-box-active{
  position:relative;
  width:32vw;
  height:32vw;
  border-radius:50%;
  padding:5px;	
  display:flex;
  justify-content:center;
  align-items:center;	
  overflow:hidden;		
}

.home-img-active .img-box-active::before,
.home-img-active .img-box-active::before{
  content:"";
  position:absolute;
  width:500px;
  height:500px;
  background:conic-gradient(#20CD82, transparent , transparent, #20CD82 );
  transform:rotate(0deg);
  animation:rotating 2.5s linear infinite;
    box-shadow:1px 2px 8px #20CD82; 
}


@keyframes rotating{
  100%{
    transform:rotate(360deg);
  }
}

.home-img-active .img-box-active .img-item-active{
  width:100%;
  height:100%;
  position:relative;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;	
  z-index:1;			
}

.home-img-active .img-box-active .img-item-active img{
  position:absolute;
  border-radius:50%;
  display:block;
  width:100%;
  object-fit:cover;
  mix-blend-mode: multiply;					
}

.text_container{
    text-align: center;
}

/* main Sections css */

/* Quote css */
.quote_div{
  width:100px;
  border-bottom:5px solid green;
}

.quote_text{
    font-size:20px;
 }


@media (max-width: 400px){
  .quote_text{
    font-size:10px;
 }

  .quote_text_container{
    width:100%;
 }
}


.container_text{
  width:60%;
  border-radius: 0px 50px 50px  0px;
  background-color:#20CD82;
   background-image: linear-gradient(to left, #525453, transparent, transparent, transparent, transparent, transparent, #525453);
}

 

.text-container p{
  font-family:arial;
  font-weight:lighter;
  font-size:25px;
}



.text-container p span{
  font-family:arial;
  color:#20CD82;
}

@media(max-width:1000px){
  .text-container p{
  font-size:20px;
 }
}

@media(max-width:700px){
  .main_container{
   flex-wrap:wrap-reverse;
 }

.main_container_child{
   width:100%;
 }

 .text-container p{
  font-size:15px;
 }

  .text-container{
   padding:0px;
 }
}

.home-img .img-box{
  position:relative;
  width:32vw;
  height:32vw;
  border-radius:0%;
  padding:5px;	
  display:flex;
  justify-content:center;
  align-items:center;	
  overflow:hidden;		
}



@keyframes rotating{
  100%{
    transform:rotate(360deg);
  }
}

.home-img .img-box .img-item{
  width:100%;
  height:100%;
  position:relative;
  border-radius:0%;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;	
  z-index:1;			
}

.home-img .img-box .img-item img{
  position:absolute;
  border-radius:0%;
  display:block;
  width:80%;
  object-fit:cover;
					
}

@media(max-width:700px){
.about_container2 h4{
  font-size:15px;
  font-weight:lighter;

}
}

.about_container2 span{
  color:#20CD82;
}

/* skills */

.myskills-container h1{
   font-size:50px;
   color:white;
    
}

.myskills-container span{
   color:#20CD82;
}

  .bar_section_container h2{
    color:white;
 }
 


@media(max-width:800px){
  .bar_section_container{
    flex-wrap:wrap;
 }

  .bar_section_container h2{
    font-size:16px;
 }
 
 .bar_section_container{
  width:100%;
}

 .bar_item{
   margin-top:1px;
 }


.myskills-container h1{
   font-size:30px;
   color:white;
    
}
}

.progress-bar{
  background-color:red;
}
/* end Skills */


/* Hire/contact */
.hire_text_container h1{
  font-size:40px;
  font-family:arial;
  color:white;
}

.hire_text_container h3{
  color:white;
}
.hire_text_container span{
  color:#20CD82;
  font-family:chiller;
  font-size:40px;
  font-weight:bold;
}

@media(max-width:700px){
   .hire_container{
    flex-wrap:wrap; 
 }

.hire_text_container h1{
  font-size:20px;
  font-family:arial;
  color:white;
}


.hire_text_container h3{
  color:white;
    font-size:15px;
}
.hire_text_container span{
  color:#20CD82;
  font-family:chiller;
  font-size:30px;
  font-weight:bolder;
}
}

/* End Hire/contact */
